* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body {
    font-family: Tahoma, Arial, sans-serif;
    background-color: rgb(255, 199, 1, 0.4);
}

.container {
    background-color: white;
    min-width: 600px;
    max-width: 1092px;
    margin: auto;
}

header {
    min-height: 300px;
    background-image: url(images/black_friday.jpg);
    /*AFBEELDING OP HOR EN VERT AS CENTREREN*/
    position: sticky;
    background-color: white;
    background-size: cover;
    background-position: center;
    min-width: 600px;
    max-width: 1092px;
    width: 100%;
    top: 0px;
    z-index: 1;
}

header h1{
    font-family: "Lucida Handwriting", Tahoma, Arial, sans-serif;
    font-weight: bold;
    color: #00222e;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 1px #ffc701;
    max-width: 40%;
    position: absolute;
    top: 40px;
    right: 140px;
}

button{
    background-color: #f08f00;
    color: #00222e;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #00222e;
    box-shadow: 3px 3px 3px #00222e;
    position: fixed;
    top: 20px;
    left: 20px;
}

.uitleg{
    background-color: #FFFFFF;
    color: #00222e;
    font-size: 0.75em;
    width: 14em;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #00222e;
    font-weight: lighter;
    position: absolute;
    top: 80%;
    left: 20%;
    display: none;
} 

button:hover .uitleg{
   display: block;
}


nav {
    margin: 10px;
}
 
nav a{
    background-color: #f08f00;
    display: inline-block;
    box-sizing: border-box;
    width: 140px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    z-index: 1;
}
nav a:hover{
    background-color: #ffc701;
}
nav>ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}
nav>ol>li{
    position: relative;
}

nav li ol{
    display: none;
    position: absolute;
    list-style-type: none;
}
nav li:hover ol{
    display: block;
}

aside{
    position: absolute;
    right: 220px;    
}

aside a{
    background-color: #ffc701;
    border: 1px solid #00222e;
    width: 120px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
}

aside li, aside a{
    text-decoration: none;
    list-style-type: none;

}
aside ul li ul{
    display: none;
    position: absolute;
    top: 0px;  
    right: 120px;
}

aside>ul>li{
    padding-bottom: 5px;
}

aside ul li:hover ul{
    display: block;
}

aside ul li{
    position: relative;
}

#content{
   padding-right: 140px;
   padding-left: 10px;
   padding-bottom: 10px;
}

#content p{
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    font-size: 0.75em;
    font-style: italic;
    text-align: right;
    padding: 5px;
    background-image: url(images/black_friday.jpg);
    background-size:cover;
    background-position: bottom center;
}