* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Tahoma, Verdana, sans-serif;
    background-color: hsl(0, 0%, 85%);
    padding-top: 40px;
}

.container {
    background-color: white;
    width: 960px;
    margin: auto;
}

.content {
    padding: 10px;
}

.content h2 {
    font-size: 1.4em;
    font-weight: normal;
    color: white;
    background-color: rgb(151, 151, 141);
    padding: 5px;
    border: 5px outset rgb(91, 90, 77);
    border-radius: 0px 20px 0px 0px;
    transition: transform 2s;
}

.content h2:hover {
    transform: scale(1.1);
}

table {
    margin: 20px 0px;
    border: 5px ridge rgb(91, 90, 77);
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(91, 90, 77);
    padding: 5px;
    transition: background-color 1s;
}

tr:hover td {
    background-color: rgba(151, 151, 141, 0.5);
}

header {
    height: 100px;
    padding: 20px;
    background-image: url(images/header.gif);
    background-repeat: repeat-x;
    position: relative;
}

.image-hover-over {
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0;
    width: 192px;
    height: 73px;
    transition: opacity 1s;
}

.image-hover-over img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 1s;
}

.image-hover-over div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #002757;
    color: white;
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 1s;
}

header:hover .image-hover-over {
    opacity: 1;
}

.image-hover-over:hover img {
    opacity: 0.7;
}

.image-hover-over:hover div {
    opacity: 1;
}

nav {
    margin: 10px;
}

nav a {
    background-color: #002757;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    transition: transform 0.35s;
    transform-origin: center bottom;
}

nav a:hover {
    transform: rotate(8deg);
}

body p {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0066DD;
    color: #DD6600;
    padding: 10px;
    height: 40px;
    overflow: hidden;
}

body p span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    transform: translateX(-10%);
    transition: transform 8s linear;
}

body p:hover span {
    transform: translateX(110%);
}

h1 {
    color: white;
    font-size: 50px;
    transition: transform 1s;
}

header:hover h1 {
    transform: translateX(450px);   
}